
/* css dikreg  */

.container{
    width: max-content;
    margin-left: 330px;
    margin-top: 30px;
    display: flex;
}
.container .row .col{
    margin-left: 300px;
    margin-top: 30px;
    display: contents;
}

/* form control */
.inputDikreg .form-control{
    display: flexbox;
    padding: 20px;
    width: 25vw;
    margin-bottom: 5px;
    height: max-content;
    box-shadow: 6px 4px 1px 2px;
}


/* table  */
.container .row .col .table{
    display: table;
    width: max-content;
    height: max-content;
    margin-left: 70px;
    
}